@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.svg-elements-01-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 418px;
  height: 421px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
}
.scroll-to-enter-your-informati,
.thanks-for-playing-aerwaves-s {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 800;
  display: inline-block;
}
.scroll-to-enter-your-informati {
  font-size: var(--font-size-3xl);
  line-height: 95%;
  color: var(--color-black);
}
.title-block-div,
.title-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-content-div {
  width: 900px;
  padding: var(--padding-xl) 0 var(--padding-md);
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.title-block-div {
  align-self: stretch;
  z-index: 1;
  text-align: center;
  font-size: 80px;
}
.aerwave-aquired-its-series-a {
  align-self: stretch;
  position: relative;
  line-height: 60px;
  font-weight: 800;
  display: inline-block;
}
.see-the-press-release-and-lear {
  align-self: stretch;
  position: relative;
  font-size: var(--subheader-size);
  line-height: 100%;
  display: inline-block;
  color: var(--color-black);
}
.rectangle-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gold);
}
.button {
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 12px);
  left: 10px;
  font-size: var(--body-size);
  line-height: 150%;
  display: flex;
  font-family: var(--body);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button-2-dft {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  height: 40px;
  flex-shrink: 0;
}
.frame-div {
  width: 900px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-md);
}
.frame-div,
.series-a-block,
.stay-up-to-date-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stay-up-to-date-content {
  flex-direction: row;
  padding: var(--padding-md) 0;
  box-sizing: border-box;
}
.series-a-block {
  align-self: stretch;
  background-color: #e8f0f6;
  flex-direction: column;
  z-index: 2;
}
.connect-with-us-to-win-by-ente {
  align-self: stretch;
  position: relative;
  line-height: 95%;
  font-weight: 800;
  display: inline-block;
}
.frame-div1 {
  width: 435px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rectangle-div1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.field-input {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 20px);
  left: 10px;
  font-size: var(--body-size);
  line-height: 150%;
  font-family: var(--body);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  mix-blend-mode: normal;
}
.field-lightondark-div {
  position: relative;
  width: 435px;
  height: 40px;
  flex-shrink: 0;
}
.field-lightondark-div1 {
  align-self: stretch;
  position: relative;
  height: 40px;
  flex-shrink: 0;
}
.field-input3 {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: calc(100% - 19.5px);
  top: calc(50% - 20px);
  left: 10px;
  font-size: var(--body-size);
  line-height: 150%;
  font-family: var(--body);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  mix-blend-mode: normal;
}
.field-lightondark-div3 {
  flex: 1;
  position: relative;
  height: 40px;
}
.rectangle-div5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-black);
}
.button1 {
  position: absolute;
  width: calc(100% - 19.5px);
  top: calc(50% - 12px);
  left: 10px;
  font-size: var(--body-size);
  line-height: 150%;
  display: flex;
  font-family: var(--body);
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button-2-dft1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  position: relative;
  height: 40px;
}
.frame-div2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.frame-form {
  width: 435px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-sm);
}
.frame-form,
.stay-up-to-date-block,
.stay-up-to-date-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stay-up-to-date-content1 {
  flex-direction: row;
  padding: var(--padding-md) 0;
  box-sizing: border-box;
  gap: var(--gap-lg);
}
.stay-up-to-date-block {
  align-self: stretch;
  background-color: var(--color-gold);
  flex-direction: column;
  z-index: 3;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.search-for-the-aerwave-team-at {
  align-self: stretch;
  position: relative;
  line-height: 95%;
  font-weight: 800;
  color: #0255a3;
  display: inline-block;
}
.ellipse-icon {
  position: relative;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  object-fit: cover;
}
.alex-wey-div {
  align-self: stretch;
  position: relative;
  line-height: 95%;
  font-weight: 800;
  display: inline-block;
}
.alexweycircle-div,
.frame-div4 {
  display: flex;
  justify-content: center;
}
.alexweycircle-div {
  width: 250px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}
.frame-div4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.find-me-block,
.frame-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div3 {
  width: 900px;
  gap: var(--gap-xl);
}
.find-me-block {
  align-self: stretch;
  padding: var(--padding-md) 0;
  box-sizing: border-box;
  z-index: 4;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.icons {
  position: relative;
  width: 115px;
  height: 115px;
  flex-shrink: 0;
}
.happier-residents-b,
.wow-your-residents-with-a-fibe {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  display: inline-block;
}
.wow-your-residents-with-a-fibe {
  font-size: var(--body-size);
  line-height: 150%;
  font-family: var(--body);
}
.frame-div9 {
  width: 290px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-div10,
.frame-div14,
.frame-div7,
.frame-div8 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-div10,
.frame-div8 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lg);
}
.frame-div14,
.frame-div7 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.reimagined-block-div,
.reimagined-content-div {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.reimagined-content-div {
  flex-direction: row;
  padding: var(--padding-sm) 190px;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-lg);
}
.reimagined-block-div {
  background: linear-gradient(180deg, rgba(227, 236, 244, 0.75), #e3ecf4);
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
  font-size: var(--subheader-size);
  color: var(--color-black);
}
.our-digital-foundation-can-hel {
  align-self: stretch;
  position: relative;
  font-size: var(--subheader-size);
  line-height: 100%;
  display: inline-block;
}
.stay-up-to-date-content2 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) 0 350px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.image-2-icon {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.series-a-block1 {
  align-self: stretch;
  background: linear-gradient(180deg, #0070c0, #1f3e66);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-0);
  z-index: 6;
  color: var(--color-white);
}
.frame-icon {
  position: relative;
  width: 81px;
  height: 63px;
  flex-shrink: 0;
  overflow: hidden;
}
.aerwave-is-the-next-generation {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  display: inline-block;
}
.linkedin-b {
  position: absolute;
  top: 3px;
  left: 35px;
  line-height: 150%;
  display: inline-block;
}
.group-icon {
  position: absolute;
  height: 100%;
  width: 30.93%;
  top: 0;
  right: 69.07%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div {
  position: relative;
  width: 97px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;
}
.group-icon1 {
  position: absolute;
  height: 100%;
  width: 27.52%;
  top: 0;
  right: 72.48%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div1 {
  position: relative;
  width: 109px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;
}
.group-icon2 {
  position: absolute;
  height: 100%;
  width: 34.88%;
  top: 0;
  right: 65.12%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div2 {
  position: relative;
  width: 86px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;
}
.group-icon3 {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 60%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div3 {
  position: relative;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-div23,
.frame-div24 {
  display: flex;
  align-items: center;
}
.frame-div24 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--body-size);
  color: var(--color-gray-100);
  font-family: var(--body);
}
.frame-div23 {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-md);
}
.our-services-b,
.property-owners-a {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.property-owners-a {
  text-decoration: none;
  color: inherit;
}
.frame-div26,
.frame-div27 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-div27 {
  align-self: stretch;
  gap: var(--gap-0);
}
.frame-div26 {
  width: 132.67px;
  flex-shrink: 0;
}
.availability-map {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.frame-div28 {
  width: 132.67px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-div22,
.frame-div25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lg);
  font-size: var(--body-size);
  font-family: var(--body);
}
.frame-div22 {
  align-self: stretch;
  align-items: center;
  text-align: left;
  font-size: var(--subheader-size);
  font-family: var(--subheader);
}
.aerwave-inc-2022-all-rights,
.line-div {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.line-div {
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 1px;
}
.aerwave-inc-2022-all-rights {
  line-height: 150%;
  height: 10px;
}
.aerwave-inc-2022-all-rights,
.frame-div30,
.terms-of-service {
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms-of-service {
  position: relative;
  line-height: 150%;
  width: 130px;
  height: 10px;
  flex-shrink: 0;
}
.frame-div30 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-sm);
}
.frame-div21 {
  align-items: center;
  gap: var(--gap-md);
}
.footer-info-div,
.frame-div20,
.frame-div21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-div20 {
  align-items: flex-end;
  gap: 50px;
}
.footer-info-div {
  align-items: center;
}
.footer-content-div {
  align-self: stretch;
  padding: 0 175px var(--padding-md);
  box-sizing: border-box;
}
.footer-block-div,
.footer-content-div,
.landing-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-block-div {
  align-self: stretch;
  background: linear-gradient(180deg, #abc7e5, rgba(255, 255, 255, 0));
  z-index: 7;
  text-align: center;
  font-size: var(--legal-size);
  font-family: var(--body);
}
.landing-page-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  gap: var(--gap-0);
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-gray-200);
  font-family: var(--subheader);
}
.landing-page-div.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 1000px) {
  .svg-elements-01-1-icon {
    width: 334px;
    height: 334px;
  }
  .button-2-dft,
  .frame-div,
  .title-content-div {
    width: 600px;
  }
  .stay-up-to-date-content {
    flex-direction: column;
    padding: var(--padding-sm) 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
  }
  .frame-div1 {
    width: 600px;
  }
  .frame-form {
    width: 600px;
    flex-direction: column;
  }
  .stay-up-to-date-content1 {
    flex-direction: column;
    padding: var(--padding-sm) 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
  }
  .alexweycircle-div {
    width: 600px;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .frame-div4 {
    width: 600px;
    flex-direction: column;
  }
  .frame-div3 {
    width: 600px;
  }
  .frame-div10 {
    flex-direction: row-reverse;
    text-align: right;
  }
  .frame-div14,
  .frame-div7 {
    flex: unset;
    align-self: stretch;
  }
  .reimagined-content-div {
    flex-direction: column;
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
    padding-bottom: var(--padding-sm);
    box-sizing: border-box;
  }
  .stay-up-to-date-content2 {
    flex-direction: column;
    padding: var(--padding-sm) 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
  }
  .aerwave-is-the-next-generation {
    text-align: center;
  }
  .frame-div22 {
    flex-direction: column;
  }
  .footer-content-div {
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .svg-elements-01-1-icon {
    width: 240px;
    height: 240px;
  }
  .thanks-for-playing-aerwaves-s {
    font-size: 60px;
  }
  .scroll-to-enter-your-informati {
    font-size: var(--font-size-2xl);
  }
  .title-content-div {
    width: 300px;
    padding-top: var(--padding-lg);
    padding-bottom: var(--padding-sm);
    box-sizing: border-box;
  }
  .button-2-dft,
  .frame-div {
    width: 300px;
  }
  .stay-up-to-date-content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--padding-lg);
    box-sizing: border-box;
  }
  .frame-div1 {
    width: 300px;
  }
  .button-2-dft1,
  .field-lightondark-div3 {
    flex: unset;
    align-self: stretch;
  }
  .frame-div2 {
    flex-direction: column;
  }
  .frame-form {
    width: 300px;
  }
  .stay-up-to-date-content1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--padding-lg);
    box-sizing: border-box;
  }
  .search-for-the-aerwave-team-at {
    font-size: var(--font-size-2xl);
    width: 300px;
  }
  .alex-wey-div {
    font-size: var(--font-size-2xl);
  }
  .alexweycircle-div,
  .frame-div3,
  .frame-div4 {
    width: 300px;
  }
  .find-me-block {
    padding-top: var(--padding-lg);
    padding-bottom: var(--padding-sm);
    box-sizing: border-box;
  }
  .frame-div10,
  .frame-div8 {
    flex-direction: column;
    text-align: center;
  }
  .reimagined-content-div {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    box-sizing: border-box;
  }
  .stay-up-to-date-content2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--padding-lg);
    box-sizing: border-box;
  }
  .frame-div24 {
    flex-direction: column;
    gap: 25px;
  }
  .frame-div25,
  .frame-div27 {
    text-align: center;
  }
  .frame-div25,
  .frame-div30 {
    flex-direction: column;
  }
  .footer-content-div {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 300px) {
  .svg-elements-01-1-icon {
    width: 160px;
    height: 160px;
  }
  .thanks-for-playing-aerwaves-s {
    font-size: 50px;
  }
  .scroll-to-enter-your-informati {
    font-size: var(--font-size-xl);
  }
  .title-content-div {
    width: 260px;
    padding-top: var(--padding-md);
    box-sizing: border-box;
  }
  .button-2-dft,
  .frame-div {
    width: 260px;
  }
  .stay-up-to-date-content {
    padding: var(--padding-sm) 0 var(--padding-md);
    box-sizing: border-box;
  }
  .connect-with-us-to-win-by-ente {
    font-size: var(--font-size-3xl);
    line-height: 45px;
    width: 240px;
  }
  .frame-div1 {
    width: 260px;
  }
  .frame-form {
    width: 260px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .stay-up-to-date-content1 {
    padding: var(--padding-sm) 0 var(--padding-md);
    box-sizing: border-box;
  }
  .search-for-the-aerwave-team-at {
    font-size: var(--font-size-xl);
    width: 260px;
  }
  .alex-wey-div {
    font-size: var(--font-size-xl);
  }
  .alexweycircle-div,
  .frame-div3,
  .frame-div4 {
    width: 260px;
  }
  .find-me-block {
    padding-top: var(--padding-md);
    box-sizing: border-box;
  }
  .frame-div9 {
    width: 250px;
  }
  .frame-div7,
  .reimagined-content-div {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .stay-up-to-date-content2 {
    padding: var(--padding-sm) 0 var(--padding-md);
    box-sizing: border-box;
  }
  .footer-content-div {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
}
